    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="mboxDefault">
        <div class="hero-unit">
          <h1>Welcome to Ear City!</h1>
          <p>The home of headphone greatness. Make sure to check out our product reviews and find the right product for your lifestyle and budget.</p>
        </div>
      </div>
      <script type="text/javascript">
        mboxCreate('tntapp_hero')  
      </script>
   

      <!-- Example row of columns -->
      <div class="row">
        <div class="mboxDefault">
          <div class="span4">
            <h2 class="box">Over Ear</h2>
            <img src="/assets/b-overear.jpeg">
            <%= link_to 'View Details', product_boverear_path, :class => 'btn box' %>
          </div>
        </div>
        <script type="text/javascript">
          mboxCreate('tntapp_box1')  
        </script>
        
        <div class="mboxDefault">
          <div class="span4">
            <h2 class="box">Earbuds</h2>
            <img src="/assets/b-buds.jpeg">
            <%= link_to 'View Details', product_bearbuds_path, :class => 'btn box' %>
          </div>
        </div>
        <script type="text/javascript">
          mboxCreate('tntapp_box2')  
        </script>

        <div class="mboxDefault">
          <div class="span4">
            <h2 class="box">Active</h2>
            <img src="/assets/b-active.png">
            <%= link_to 'View Details', product_bactive_path, :class => 'btn box' %>
          </div>
         </div>
        <script type="text/javascript">
          mboxCreate('tntapp_box3')  
        </script>  
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>

    </div>
