<body>
	<header class="navbar navbar-fixed-top navbar-inverse"></header>
	<h1>This is the Test & Target testing page.</h1>
	<%=link_to	"Example",	example_path, class: "btn btn-large btn-primary" %>
	<div class="mboxDefault"></div>
	<script type="text/javascript">
		mboxCreate('testingBox');	
	</script>
</body>